In [2]:
import pandas as pd

In [4]:
a = pd.read_csv("iem_new.csv")

In [5]:
a

      Unnamed: 0     종목코드                  종목한글명  종목업종  시가총액 규모유형  시장구분
0              0  A000020                   동화약품     8          2    99
1              1  A000080                  하이트진로    10          2     1
2              2  A000180                 성창기업지주     5          3    99
3              3  A000227                유유제약2우B     8         99    99
4              4  A000325                 노루홀딩스우     2         99    99
...          ...      ...                    ...   ...        ...   ...
3074        3074  A383310               에코프로에이치엔    12         99    99
3075        3075  A385520         KODEX K-미래차액티브    14         99    99
3076        3076  A388280         KBSTAR Fn컨택트대표    14         99    99
3077        3077  A388420      KBSTAR 비메모리반도체액티브    14         99    99
3078        3078  A394350  KOSEF 릭소글로벌퓨처모빌리티MSCI    14         99    99

[3079 rows x 6 columns]

In [7]:
b = pd.read_csv('종목정보_시장정보처리.csv', encoding='cp949')
b = b.drop('종목업종', axis=1, inplace=False)
b

         종목코드                  종목한글명  시가총액 규모유형  시장구분
0     A000080                  하이트진로          2     1
1     A000670                     영풍          2     1
2     A001450                   현대해상          2     1
3     A001800                 오리온홀딩스          2     1
4     A002790                   아모레G          1     1
...       ...                    ...        ...   ...
3074  A383310               에코프로에이치엔         99    99
3075  A385520         KODEX K-미래차액티브         99    99
3076  A388280         KBSTAR Fn컨택트대표         99    99
3077  A388420      KBSTAR 비메모리반도체액티브         99    99
3078  A394350  KOSEF 릭소글로벌퓨처모빌리티MSCI         99    99

[3079 rows x 4 columns]

In [10]:
iem_new = pd.merge(a[['종목코드','종목한글명','종목업종']] , b, on=['종목한글명','종목코드'])
iem_new

         종목코드                  종목한글명  종목업종  시가총액 규모유형  시장구분
0     A000020                   동화약품     8          2     3
1     A000080                  하이트진로    10          2     1
2     A000180                 성창기업지주     5          3     3
3     A000227                유유제약2우B     8         99    99
4     A000325                 노루홀딩스우     2         99    99
...       ...                    ...   ...        ...   ...
3074  A383310               에코프로에이치엔    12         99    99
3075  A385520         KODEX K-미래차액티브    14         99    99
3076  A388280         KBSTAR Fn컨택트대표    14         99    99
3077  A388420      KBSTAR 비메모리반도체액티브    14         99    99
3078  A394350  KOSEF 릭소글로벌퓨처모빌리티MSCI    14         99    99

[3079 rows x 5 columns]

In [11]:
iem_new.to_csv("iem_new2.csv", header=True, index=False, encoding='cp949')