In [3]:
train_eco = pd.read_csv("train_경제지표.csv", encoding='cp949')

In [4]:
train_eco

,계좌 ID,종목코드,매수일자,보유기간(일),국제유가,광물가격,기준금리,환율
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,2018-07-26,11,69.14,6266.47,1.50,1134.08
1,f431b2a7651bccfc7ce8f294fdacdf0b7b31db734be701...,A023590,2018-07-26,5,69.14,6266.47,1.50,1134.08
2,43a0eb89f16d3a46767794dda9c31cd15e1ff9daf33332...,A010820,2018-07-26,3,69.14,6266.47,1.50,1134.08
3,5b6973bff9ab839507cf2f839b8b6d190d8ac2144fa5a4...,A005930,2018-07-26,122,69.14,6266.47,1.50,1134.08
4,1c52768eebea2eab6a7ed8cc95d838a3732fc6dce51ba3...,A006360,2018-07-26,2,69.14,6266.47,1.50,1134.08
...,...,...,...,...,...,...,...,...
681467,bcbf85d4382788cc37e75b11ab141e3bf7cde87ff7253d...,A267250,2019-03-27,89,59.73,6339.61,1.75,1133.76
681468,6d78a1da2ff49b7be5a15a22134c743e0ed478f58bb6f5...,A253450,2019-03-27,7,59.73,6339.61,1.75,1133.76
681469,ed62927d381883a19affcc2097336e801e2212ba0cc56d...,A091990,2019-03-27,4,59.73,6339.61,1.75,1133.76
681470,5eafe957081039a4c9e71186cdd1c74dfd674f00be01cc...,A034940,2019-03-27,1,59.73,6339.61,1.75,1133.76
681471,5eafe957081039a4c9e71186cdd1c74dfd674f00be01cc...,A121890,2019-03-27,2,59.73,6339.61,1.75,1133.76

In [5]:
train_eco['year']= train_eco['매수일자'].apply(lambda x: x[0:4])

In [6]:
train_eco

,계좌 ID,종목코드,매수일자,보유기간(일),국제유가,광물가격,기준금리,환율,year
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,2018-07-26,11,69.14,6266.47,1.50,1134.08,2018
1,f431b2a7651bccfc7ce8f294fdacdf0b7b31db734be701...,A023590,2018-07-26,5,69.14,6266.47,1.50,1134.08,2018
2,43a0eb89f16d3a46767794dda9c31cd15e1ff9daf33332...,A010820,2018-07-26,3,69.14,6266.47,1.50,1134.08,2018
3,5b6973bff9ab839507cf2f839b8b6d190d8ac2144fa5a4...,A005930,2018-07-26,122,69.14,6266.47,1.50,1134.08,2018
4,1c52768eebea2eab6a7ed8cc95d838a3732fc6dce51ba3...,A006360,2018-07-26,2,69.14,6266.47,1.50,1134.08,2018
...,...,...,...,...,...,...,...,...,...
681467,bcbf85d4382788cc37e75b11ab141e3bf7cde87ff7253d...,A267250,2019-03-27,89,59.73,6339.61,1.75,1133.76,2019
681468,6d78a1da2ff49b7be5a15a22134c743e0ed478f58bb6f5...,A253450,2019-03-27,7,59.73,6339.61,1.75,1133.76,2019
681469,ed62927d381883a19affcc2097336e801e2212ba0cc56d...,A091990,2019-03-27,4,59.73,6339.61,1.75,1133.76,2019
681470,5eafe957081039a4c9e71186cdd1c74dfd674f00be01cc...,A034940,2019-03-27,1,59.73,6339.61,1.75,1133.76,2019
681471,5eafe957081039a4c9e71186cdd1c74dfd674f00be01cc...,A121890,2019-03-27,2,59.73,6339.61,1.75,1133.76,2019

In [16]:
train_eco['과거 보유일'] = np.nan

In [34]:
train_eco2016 = train_eco[train_eco['year']=='2016'].copy()
train_eco2016['과거 보유일'] = train_eco2016['보유기간(일)']*0.5

train_eco2017 = train_eco[train_eco['year']=='2017'].copy()
train_eco2017['과거 보유일'] = train_eco2017['보유기간(일)']*0.6

train_eco2018 = train_eco[train_eco['year']=='2018'].copy()
train_eco2018['과거 보유일'] = train_eco2018['보유기간(일)']*0.7

train_eco2019 = train_eco[train_eco['year']=='2019'].copy()
train_eco2019['과거 보유일'] = train_eco2019['보유기간(일)']*0.8

train_eco2020 = train_eco[train_eco['year']=='2020'].copy()
train_eco2020['과거 보유일'] = train_eco2020['보유기간(일)']*0.9

In [67]:
train_year =pd.concat([train_eco2016,train_eco2017,train_eco2018,train_eco2019,train_eco2020], ignore_index=True)
train_year

,계좌 ID,종목코드,매수일자,보유기간(일),국제유가,광물가격,기준금리,환율,year,과거 보유일
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A211270,2016-03-28,40,39.58,5043.43,1.5,1165.51,2016,20.0
1,f431b2a7651bccfc7ce8f294fdacdf0b7b31db734be701...,A011170,2016-03-28,71,39.58,5043.43,1.5,1165.51,2016,35.5
2,2c17850345fbac9b3f004773972fd72a716228b3896e6f...,A054780,2016-03-28,16,39.58,5043.43,1.5,1165.51,2016,8.0
3,127188207e133cd6361a6966376eea6183b31077a82bd3...,A043910,2016-03-28,1,39.58,5043.43,1.5,1165.51,2016,0.5
4,26dd1e72772128f6639abfa9056f39941b33949075c27c...,A099190,2016-03-28,9,39.58,5043.43,1.5,1165.51,2016,4.5
...,...,...,...,...,...,...,...,...,...,...
681467,aae67ac5ae3cafeb9904705cc970584731e31a4c24c56f...,A042670,2020-09-28,38,40.24,6532.76,0.5,1169.08,2020,34.2
681468,aae67ac5ae3cafeb9904705cc970584731e31a4c24c56f...,A017960,2020-09-28,14,40.24,6532.76,0.5,1169.08,2020,12.6
681469,55677760ca600020ec4fc197148c1425df5d5c53415046...,A053800,2020-09-28,1,40.24,6532.76,0.5,1169.08,2020,0.9
681470,55677760ca600020ec4fc197148c1425df5d5c53415046...,A005935,2020-09-28,26,40.24,6532.76,0.5,1169.08,2020,23.4
681471,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A005935,2020-09-28,32,40.24,6532.76,0.5,1169.08,2020,28.8

In [68]:
train_year['과거 보유일'] = round(train_year['과거 보유일'],2)

In [69]:
train_year = train_year.drop('year', axis=1, inplace=False)

In [70]:
iem = pd.read_csv("iem_new2.csv", encoding='cp949')

In [71]:
cus =pd.read_csv("cus_info_new.csv", encoding='cp949')

In [72]:
cus.columns=["계좌 ID","성별","연령대","투자성향","자산구간","주거래상품군","Life Style","서비스 등급","총 투자기간","주거래업종구분"]

In [73]:
train_data= pd.merge(train_year,iem, on='종목코드')
train_data = pd.merge(train_data , cus, on='계좌 ID')
train_data

,계좌 ID,종목코드,매수일자,보유기간(일),국제유가,광물가격,기준금리,환율,과거 보유일,종목한글명,...,시장구분,성별,연령대,투자성향,자산구간,주거래상품군,Life Style,서비스 등급,총 투자기간,주거래업종구분
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A211270,2016-03-28,40,39.58,5043.43,1.50,1165.51,20.0,AP위성,...,4,1,9,3,2,2,9,5,5,8
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A099190,2018-05-18,12,71.48,6857.45,1.50,1077.27,8.4,아이센스,...,4,1,9,3,2,2,9,5,5,8
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A099190,2018-03-15,14,60.94,7024.37,1.50,1065.69,9.8,아이센스,...,4,1,9,3,2,2,9,5,5,8
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A014470,2016-03-25,98,40.06,5043.43,1.50,1159.17,49.0,부방,...,4,1,9,3,2,2,9,5,5,8
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A028670,2016-01-04,93,37.00,4635.69,1.50,1171.08,46.5,팬오션,...,1,1,9,3,2,2,9,5,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681467,7ba26c5e74c432102f4eacf70c773eef00a45a5372a8a8...,A274090,2020-06-16,116,36.98,5701.01,0.50,1203.94,104.4,켄코아에어로스페이스,...,4,1,4,5,2,2,3,9,2,5
681468,5e3d63dd4d80ea511e47ca66becfca47667386fc706b58...,A262260,2020-07-16,52,41.01,6506.28,0.50,1205.20,46.8,에이프로,...,4,1,6,1,1,2,5,9,2,9
681469,13e879cd0546d5fe05325436e3a604f3dfad25b3fd1c7c...,A364960,2020-11-06,2,38.79,6799.40,0.50,1136.09,1.8,TIGER KRX BBIG K-뉴딜,...,99,1,2,2,2,2,2,5,1,9
681470,5b03aed77c1556b6030fd190e501aa8aa6dd0b1f4d28a0...,A285880,2020-07-15,18,40.26,6491.41,0.50,1200.41,16.2,아이디티월드,...,99,1,1,3,1,2,2,9,3,16
681471,13a7c22f401ec021edc6bde13ba70c15e53618576c70db...,A267300,2020-03-27,55,22.95,4785.12,0.75,1236.37,49.5,TIGER 코스닥150로우볼,...,99,2,3,4,2,2,4,5,2,16

In [74]:
test = pd.read_csv("test_경제지표.csv", encoding='cp949')

In [75]:
test_data= pd.merge(test, iem, on='종목코드')
test_data = pd.merge(test_data , cus, on='계좌 ID')
test_data

,계좌 ID,종목코드,매수일자,과거 보유일,제출ID,보유기간(일),국제유가,광물가격,기준금리,환율,...,시장구분,성별,연령대,투자성향,자산구간,주거래상품군,Life Style,서비스 등급,총 투자기간,주거래업종구분
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,2020-05-22,153,IDX00001,0,33.78,5401.56,0.75,1227.40,...,1,1,9,3,2,2,9,5,5,8
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,2019-08-23,335,IDX00002,0,55.44,5697.91,1.50,1205.28,...,4,1,9,3,2,2,9,5,5,8
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,2020-06-11,139,IDX00003,0,39.45,5796.61,0.50,1199.39,...,4,1,9,3,2,2,9,5,5,8
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,2020-01-20,236,IDX00004,0,58.40,6308.35,1.25,1159.24,...,4,1,9,3,2,2,9,5,5,8
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,2020-12-17,9,IDX00005,0,47.75,7833.29,0.50,1092.63,...,2,1,9,3,2,2,9,5,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70591,92fa38efb7fb90acaafa6dcc3bd23a70462939c872c485...,A169140,2019-06-07,389,IDX30182,0,52.48,5828.96,1.75,1182.12,...,99,1,5,2,2,2,5,9,3,16
70592,1c7780e964ab55c8b5fc407c84428bb0967290e265dc12...,A279120,2018-12-11,507,IDX21741,0,51.29,6118.79,1.75,1117.93,...,99,1,6,3,1,2,5,9,3,16
70593,dbac579996f2fb683ff31167fb64c8e7270def566d7c8b...,A284710,2018-02-13,708,IDX09400,0,59.36,6833.41,1.50,1091.62,...,99,2,5,2,1,2,6,9,3,16
70594,7fc561d19072025d0ebec1e825675a136d12c3defee99e...,A262100,2019-09-16,321,IDX41423,0,54.94,5888.42,1.50,1192.22,...,99,1,7,3,1,2,7,9,3,16
70595,11366a52ef66e80850076b3d71e0be9654889d16caf423...,A306130,2018-10-31,536,IDX24827,0,66.37,6133.61,1.50,1138.87,...,99,1,4,5,3,5,3,4,3,16

In [76]:
from sklearn.preprocessing import LabelEncoder
L_encoder = LabelEncoder()
L_encoder.fit(iem["종목한글명"]) # 종목 한글명
train_data["종목한글명"] = L_encoder.transform(train_data["종목한글명"])
test_data["종목한글명"] = L_encoder.transform(test_data["종목한글명"])

In [81]:
train_data

,계좌 ID,종목코드,매수일자,보유기간(일),국제유가,광물가격,기준금리,환율,과거 보유일,종목한글명,...,시장구분,성별,연령대,투자성향,자산구간,주거래상품군,Life Style,서비스 등급,총 투자기간,주거래업종구분
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A211270,2016-03-28,40,39.58,5043.43,1.50,1165.51,20.0,5,...,4,1,9,3,2,2,9,5,5,8
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A099190,2018-05-18,12,71.48,6857.45,1.50,1077.27,8.4,1714,...,4,1,9,3,2,2,9,5,5,8
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A099190,2018-03-15,14,60.94,7024.37,1.50,1065.69,9.8,1714,...,4,1,9,3,2,2,9,5,5,8
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A014470,2016-03-25,98,40.06,5043.43,1.50,1159.17,49.0,1288,...,4,1,9,3,2,2,9,5,5,8
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A028670,2016-01-04,93,37.00,4635.69,1.50,1171.08,46.5,2698,...,1,1,9,3,2,2,9,5,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681467,7ba26c5e74c432102f4eacf70c773eef00a45a5372a8a8...,A274090,2020-06-16,116,36.98,5701.01,0.50,1203.94,104.4,2496,...,4,1,4,5,2,2,3,9,2,5
681468,5e3d63dd4d80ea511e47ca66becfca47667386fc706b58...,A262260,2020-07-16,52,41.01,6506.28,0.50,1205.20,46.8,1868,...,4,1,6,1,1,2,5,9,2,9
681469,13e879cd0546d5fe05325436e3a604f3dfad25b3fd1c7c...,A364960,2020-11-06,2,38.79,6799.40,0.50,1136.09,1.8,548,...,99,1,2,2,2,2,2,5,1,9
681470,5b03aed77c1556b6030fd190e501aa8aa6dd0b1f4d28a0...,A285880,2020-07-15,18,40.26,6491.41,0.50,1200.41,16.2,1708,...,99,1,1,3,1,2,2,9,3,16
681471,13a7c22f401ec021edc6bde13ba70c15e53618576c70db...,A267300,2020-03-27,55,22.95,4785.12,0.75,1236.37,49.5,630,...,99,2,3,4,2,2,4,5,2,16

In [80]:
train_data.reset_index(drop = True, inplace=True)

## automl

In [114]:
import pycaret
pycaret.__version__

'2.3.3'

In [115]:
import pycaret

In [110]:
import pandas as pd
from pandas import Series

In [116]:
from pycaret.regression import *

ImportError: cannot import name 'FrameOrSeriesUnion'