In [1]:
import pandas as pd

In [112]:
kospi = pd.read_csv("20201230 코스피 종목코드.csv", encoding="cp949")
kosdaq = pd.read_csv("20201230 코스닥 종목코드.csv",encoding="cp949")
iem_info = pd.read_csv('iem_info_20210902.csv')

In [113]:
iem = iem_info.copy()

In [114]:
iem

,iem_cd,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd
0,A000020,동화약품,8,2,99
1,A000080,하이트진로,14,2,1
2,A000180,성창기업지주,5,3,99
3,A000227,유유제약2우B,8,99,99
4,A000325,노루홀딩스우,2,99,99
...,...,...,...,...,...
3074,A383310,에코프로에이치엔,14,99,99
3075,A385520,KODEX K-미래차액티브,14,99,99
3076,A388280,KBSTAR Fn컨택트대표,14,99,99
3077,A388420,KBSTAR 비메모리반도체액티브,14,99,99
3078,A394350,KOSEF 릭소글로벌퓨처모빌리티MSCI,14,99,99

In [115]:
iem.columns= ["종목코드","종목한글명","종목업종", "시가총액 규모유형","시장구분"]

In [144]:
df1 = iem[iem['시장구분']==1]
df1['종목코드'].nunique()

201

In [117]:
df2 = iem[iem['시장구분']==2]

In [118]:
kospi.sort_values(by='종목코드' , ascending=True)

       종목코드         종목명     종가    대비   등락률     상장시가총액
268      20        동화약품  19650   500  2.61   548853.0
586      40       KR모터스   1135    60  5.58   104035.0
286      50          경방  12400   100  0.81   339949.0
137      60       메리츠화재  14600  -450 -2.99  1761125.0
269      70       삼양홀딩스  74500   400  0.54   638038.0
..      ...         ...    ...   ...   ...        ...
235  353200        대덕전자  12600   300  2.44   622653.0
285  357120    코람코에너지리츠   4805    -5 -0.10   334524.0
585  357250    미래에셋맵스리츠   4755    -5 -0.11    95576.0
169  363280      티와이홀딩스  27700  1400  5.32  1038775.0
224  365550  ESR켄달스퀘어리츠   5070   -10 -0.20   726323.0

[795 rows x 6 columns]

In [119]:
iem_na = iem[iem['시장구분']==99]
iem_na.sort_values(by='종목코드' , ascending=True)

         종목코드                          종목한글명  종목업종  시가총액 규모유형  시장구분
0     A000020                           동화약품     8          2    99
1532  A000040                          KR모터스     6          3    99
764   A000050                             경방     7          3    99
2314  A000060                          메리츠화재     2          2    99
1534  A000075                         삼양홀딩스우     2         99    99
...       ...                            ...   ...        ...   ...
2309  A394340           KOSEF 릭소글로벌디지털경제MSCI    14         99    99
3078  A394350          KOSEF 릭소글로벌퓨처모빌리티MSCI    14         99    99
2310  A394660     TIGER 글로벌자율주행&전기차SOLACTIVE    14         99    99
2311  A394670  TIGER 글로벌리튬&2차전지SOLACTIVE(합성)    14         99    99
2312  A395160                 KODEX Fn시스템반도체    14         99    99

[2728 rows x 5 columns]

In [120]:
'A' +str('%06d' % 20)

'A000020'

In [121]:
kospi['종목코드'] = kospi['종목코드'].apply(lambda x: 'A'+str('%06d' % x))

In [122]:
kospi.sort_values(by='종목코드' , ascending=True)

        종목코드         종목명     종가    대비   등락률     상장시가총액
268  A000020        동화약품  19650   500  2.61   548853.0
586  A000040       KR모터스   1135    60  5.58   104035.0
286  A000050          경방  12400   100  0.81   339949.0
137  A000060       메리츠화재  14600  -450 -2.99  1761125.0
269  A000070       삼양홀딩스  74500   400  0.54   638038.0
..       ...         ...    ...   ...   ...        ...
235  A353200        대덕전자  12600   300  2.44   622653.0
285  A357120    코람코에너지리츠   4805    -5 -0.10   334524.0
585  A357250    미래에셋맵스리츠   4755    -5 -0.11    95576.0
169  A363280      티와이홀딩스  27700  1400  5.32  1038775.0
224  A365550  ESR켄달스퀘어리츠   5070   -10 -0.20   726323.0

[795 rows x 6 columns]

In [123]:
df3 = pd.merge(kospi['종목코드'], iem_na, on='종목코드')
df3

        종목코드    종목한글명  종목업종  시가총액 규모유형  시장구분
0    A012510    더존비즈온     5          1    99
1    A307950   현대오토에버     5          2    99
2    A009900     명신산업     6         99    99
3    A000060    메리츠화재     2          2    99
4    A336370  솔루스첨단소재     9          2    99
..       ...      ...   ...        ...   ...
577  A007120   미래아이앤지     5          3    99
578  A007590    동방아그로    12          3    99
579  A007610     선도전기     9          3    99
580  A007630  폴루스바이오팜     7          3    99
581  A008110     대동전자     9          3    99

[582 rows x 5 columns]

In [124]:
df3['시장구분']= df3['시장구분'].replace(99,3)
df3

        종목코드    종목한글명  종목업종  시가총액 규모유형  시장구분
0    A012510    더존비즈온     5          1     3
1    A307950   현대오토에버     5          2     3
2    A009900     명신산업     6         99     3
3    A000060    메리츠화재     2          2     3
4    A336370  솔루스첨단소재     9          2     3
..       ...      ...   ...        ...   ...
577  A007120   미래아이앤지     5          3     3
578  A007590    동방아그로    12          3     3
579  A007610     선도전기     9          3     3
580  A007630  폴루스바이오팜     7          3     3
581  A008110     대동전자     9          3     3

[582 rows x 5 columns]

In [125]:
kosdaq['종목코드'] = kosdaq['종목코드'].apply(lambda x: 'A'+str('%06d' % x))
kosdaq

         종목코드          종목명      종가     대비   등락률      상장시가총액
0     A091990     셀트리온헬스케어  163000  -4900 -2.92  24745001.0
1     A068760       셀트리온제약  238600 -11500 -4.60   8544418.0
2     A096530           씨젠  193000  -6300 -3.16   5063166.0
3     A196170         알테오젠  179700   2500  1.41   5046497.0
4     A028300        에이치엘비   92500   1100  1.20   4899716.0
...       ...          ...     ...    ...   ...         ...
1442  A351340   IBKS제13호스팩    2095     -5 -0.24     10831.0
1443  A353060   에이치엠씨제5호스팩    2015      0  0.00     10307.0
1444  A353070   에이치엠씨제4호스팩    2045      0  0.00      8814.0
1445  A353190    엔에이치스팩16호    2095     10  0.48      9029.0
1446  A353490  미래에셋대우스팩 5호    2105    -25 -1.17     10651.0

[1447 rows x 6 columns]

In [126]:
df4 = pd.merge(kosdaq['종목코드'], iem_na, on='종목코드')
df4

         종목코드        종목한글명  종목업종  시가총액 규모유형  시장구분
0     A178920       PI첨단소재    10         99    99
1     A314130       지놈앤컴퍼니    10          1    99
2     A028150        GS홈쇼핑     4          1    99
3     A215600          신라젠     5          1    99
4     A294090        이오플로우    10          1    99
...       ...          ...   ...        ...   ...
1290  A351340   IBKS제13호스팩     2          3    99
1291  A353060   에이치엠씨제5호스팩     2         99    99
1292  A353070   에이치엠씨제4호스팩     2          3    99
1293  A353190           휴럼     2          3    99
1294  A353490  미래에셋대우스팩 5호     2          3    99

[1295 rows x 5 columns]

In [127]:
df4['시장구분']= df4['시장구분'].replace(99,4)

In [128]:
df4

         종목코드        종목한글명  종목업종  시가총액 규모유형  시장구분
0     A178920       PI첨단소재    10         99     4
1     A314130       지놈앤컴퍼니    10          1     4
2     A028150        GS홈쇼핑     4          1     4
3     A215600          신라젠     5          1     4
4     A294090        이오플로우    10          1     4
...       ...          ...   ...        ...   ...
1290  A351340   IBKS제13호스팩     2          3     4
1291  A353060   에이치엠씨제5호스팩     2         99     4
1292  A353070   에이치엠씨제4호스팩     2          3     4
1293  A353190           휴럼     2          3     4
1294  A353490  미래에셋대우스팩 5호     2          3     4

[1295 rows x 5 columns]

In [129]:
iem_na_fill = pd.concat([df3,df4],ignore_index=True)

In [130]:
iem_na_fill

         종목코드        종목한글명  종목업종  시가총액 규모유형  시장구분
0     A012510        더존비즈온     5          1     3
1     A307950       현대오토에버     5          2     3
2     A009900         명신산업     6         99     3
3     A000060        메리츠화재     2          2     3
4     A336370      솔루스첨단소재     9          2     3
...       ...          ...   ...        ...   ...
1872  A351340   IBKS제13호스팩     2          3     4
1873  A353060   에이치엠씨제5호스팩     2         99     4
1874  A353070   에이치엠씨제4호스팩     2          3     4
1875  A353190           휴럼     2          3     4
1876  A353490  미래에셋대우스팩 5호     2          3     4

[1877 rows x 5 columns]

In [131]:
iem_na

         종목코드                  종목한글명  종목업종  시가총액 규모유형  시장구분
0     A000020                   동화약품     8          2    99
2     A000180                 성창기업지주     5          3    99
3     A000227                유유제약2우B     8         99    99
4     A000325                 노루홀딩스우     2         99    99
5     A000440                 중앙에너비스     7          3    99
...       ...                    ...   ...        ...   ...
3074  A383310               에코프로에이치엔    14         99    99
3075  A385520         KODEX K-미래차액티브    14         99    99
3076  A388280         KBSTAR Fn컨택트대표    14         99    99
3077  A388420      KBSTAR 비메모리반도체액티브    14         99    99
3078  A394350  KOSEF 릭소글로벌퓨처모빌리티MSCI    14         99    99

[2728 rows x 5 columns]

In [132]:
check = pd.merge(iem_na, iem_na_fill, on='종목코드', how='outer')
check

,종목코드,종목한글명_x,종목업종_x,시가총액 규모유형_x,시장구분_x,종목한글명_y,종목업종_y,시가총액 규모유형_y,시장구분_y
0,A000020,동화약품,8,2,99,동화약품,8.0,2.0,3.0
1,A000180,성창기업지주,5,3,99,성창기업지주,5.0,3.0,3.0
2,A000227,유유제약2우B,8,99,99,NaN,NaN,NaN,NaN
3,A000325,노루홀딩스우,2,99,99,NaN,NaN,NaN,NaN
4,A000440,중앙에너비스,7,3,99,중앙에너비스,7.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...
2723,A383310,에코프로에이치엔,14,99,99,NaN,NaN,NaN,NaN
2724,A385520,KODEX K-미래차액티브,14,99,99,NaN,NaN,NaN,NaN
2725,A388280,KBSTAR Fn컨택트대표,14,99,99,NaN,NaN,NaN,NaN
2726,A388420,KBSTAR 비메모리반도체액티브,14,99,99,NaN,NaN,NaN,NaN
2727,A394350,KOSEF 릭소글로벌퓨처모빌리티MSCI,14,99,99,NaN,NaN,NaN,NaN

In [133]:
iem_na_fill_na = check[check['종목업종_y'].isnull()]
iem_na_fill_na

,종목코드,종목한글명_x,종목업종_x,시가총액 규모유형_x,시장구분_x,종목한글명_y,종목업종_y,시가총액 규모유형_y,시장구분_y
2,A000227,유유제약2우B,8,99,99,NaN,NaN,NaN,NaN
3,A000325,노루홀딩스우,2,99,99,NaN,NaN,NaN,NaN
14,A001465,BYC우,14,99,99,NaN,NaN,NaN,NaN
16,A001525,동양우,11,99,99,NaN,NaN,NaN,NaN
19,A001799,대한제당3우B,14,99,99,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2723,A383310,에코프로에이치엔,14,99,99,NaN,NaN,NaN,NaN
2724,A385520,KODEX K-미래차액티브,14,99,99,NaN,NaN,NaN,NaN
2725,A388280,KBSTAR Fn컨택트대표,14,99,99,NaN,NaN,NaN,NaN
2726,A388420,KBSTAR 비메모리반도체액티브,14,99,99,NaN,NaN,NaN,NaN
2727,A394350,KOSEF 릭소글로벌퓨처모빌리티MSCI,14,99,99,NaN,NaN,NaN,NaN

In [134]:
list(iem_na_fill_na['종목한글명_x'])

['유유제약2우B',
 '노루홀딩스우',
 'BYC우',
 '동양우',
 '대한제당3우B',
 '한국제지',
 'KB손해보험',
 '코오롱글로벌우',
 '한화투자증권우',
 '대신증권2우B',
 '고려개발',
 'NPC우',
 '세방우',
 '깨끗한나라우',
 '성신양회우',
 '성신양회2우B',
 '녹십자홀딩스2우',
 '롯데칠성우',
 '현대차2우B',
 '미래에셋증권2우B',
 '한솔아트원제지',
 '도레이케미칼',
 '호텔신라우',
 '삼성전기우',
 'CJ씨푸드1우',
 '성문전자우',
 'KG동부제철우',
 '신풍제약우',
 '한화갤러리아타임월드',
 '소프트센우',
 '에스에스컴텍',
 '디케이씨',
 '해성티피씨',
 '제4기한국',
 '한진피앤씨',
 '라임',
 '바이오빌',
 '엠제이비',
 '오렌지라이프',
 '사조해표',
 '스틸플라워',
 'KODEX 반도체',
 'KODEX 자동차',
 'KODEX China H',
 'KODEX 일본TOPIX100',
 '신성이엔지',
 'KOSEF 블루칩',
 'LX하우시스우',
 '넥솔론',
 '에스에프씨',
 'KODEX 건설',
 'KODEX 레버리지',
 '원익테라세미콘',
 'TIGER 인버스',
 'KINDEX 삼성그룹동일가중',
 'TIGER 미국나스닥100',
 'TIGER 200 건설',
 'TIGER 200 에너지화학',
 'TIGER 200 금융',
 'TIGER 경기방어',
 'KODEX 운송',
 '이씨스',
 'TIGER 미국S&P500선물(H)',
 '솔젠트',
 '삼양사우',
 '모다',
 'ARIRANG 200',
 'KOSEF 200 선물',
 '이리언스',
 '지디',
 'TIGER 증권',
 '현대엠엔소프트',
 'KTOP 코스피50',
 '네이처리퍼블릭',
 'KODEX 중국본토 A50',
 'KBSTAR 중국본토대형주CSI100',
 '한국코러스',
 '파티게임즈',
 'TIGER 유로스탁스50(합성 H)',
 'KINDEX 일본TOPIX레버리지(H)',
 '티이씨씨',
 'KODEX 미국S&P산업재(합성)',
 'KODEX 독일MSCI(합성)',
 'TIGER 배당성장',
 'ARIRANG 미국다우존스고배당주(합성 H)',
 '파로스백신',
 'KODEX 미국S&P500선물(H)',
 'ARIRANG 스마트베타 Value',
 'ARIRANG 스마트베타 Momentum',
 'KINDEX Fn성장소비주도주',
 'TIGER 200 헬스케어',
 'TIGER 200 산업재',
 'TIGER 화장품',
 'TIGER 코스닥150',
 'TIGER 코스닥150 레버리지',
 '로보케어',
 'TIGER 인도니프티50레버리지(합성)',
 '충만',
 'KODEX 코스피100',
 'KINDEX 일본Nikkei225(H)',
 '피엔에이치테크',
 '유진테크놀로지',
 'KBSTAR V&S셀렉트밸류채권혼합',
 '하임바이오',
 'TIGER 200에너지화학레버리지',
 '이루모',
 '세미스트',
 'KODEX 바이오',
 'TIGER 유로스탁스배당30',
 '엑스드론',
 'KODEX 성장투자',
 'TIGER 코스닥150선물인버스',
 'KODEX 코스닥150선물인버스',
 'ARIRANG 고배당저변동50',
 'ARIRANG 고배당주채권혼합',
 'TIGER 200선물인버스2X',
 'KBSTAR 모멘텀밸류',
 '샘씨엔에스',
 'KOSEF 200선물인버스2X',
 '이에스에스콤',
 'ARIRANG 심천차이넥스트(합성)',
 '세진하이테크',
 '제이에스테크',
 'KOSEF 저PBR가중',
 'TIGER 우선주',
 'KODEX WTI원유선물(H)',
 '아이퀘스트',
 '한화수성스팩',
 'KODEX 경기소비재',
 'ARIRANG 중형주저변동50',
 'ARIRANG S&P글로벌인프라',
 '에브리봇',
 'KBSTAR KQ고배당',
 '진올바이오테크놀러지',
 '펀진',
 'KINDEX S&P아시아TOP50',
 '호그린에어',
 '한국제6호스팩',
 '엠비지',
 '파이브지티',
 'KBSTAR 200건설',
 'KODEX MSCI KOREA ESG유니버설',
 'KODEX China H선물인버스(H)',
 'KODEX MSCI EM선물(H)',
 'KBSTAR KRX300',
 '세미솔루션',
 '메인라인',
 'KOSEF 200TR',
 'SOL 200TR',
 '맘이랜서',
 '세븐브로이양평2우',
 '팝스라인2우',
 'TIGER K게임',
 'ARIRANG 코스닥150선물인버스',
 'KODEX 미국채울트라30년선물(H)',
 'KODEX 미국채울트라30년선물인버스(H)',
 'HANARO 코스닥150',
 'KODEX KRX300레버리지',
 'KBSTAR KRX300레버리지',
 '엘텍코리아',
 '비안랩',
 'ARIRANG KRX300헬스케어',
 '미래오성모빌리티',
 '테디아일랜드1우',
 '유니완',
 '퓨젠바이오',
 '나노레이',
 '이노핀',
 '메티메디제약',
 'KOSEF 코스닥150',
 '와이더플래닛',
 'KINDEX 스마트로우볼',
 'HANARO e커머스',
 'HANARO 고배당',
 '테바1우',
 'KBSTAR IT플러스',
 'ARIRANG KS밸류가중TR',
 '솔루스첨단소재2우B',
 '비욘드바이오',
 'KODEX Fn멀티팩터',
 'KODEX 200ESG',
 '씨엘바이오',
 '금축인터내셔널1우',
 '신명메디에스',
 '씨앤투스성진',
 '오비고',
 '대덕전자1우',
 'KINDEX 코스닥150',
 '아모센스',
 'KINDEX 미국S&P500',
 'TIGER 미국S&P500',
 '삼영에스앤씨',
 'TIGER KRX게임K-뉴딜',
 'DB금융스팩9호',
 'KINDEX 미국나스닥100',
 'KODEX Fn K-뉴딜디지털플러스',
 'KINDEX 블룸버그베트남VN30선물레버리지(H)',
 'TIGER 차이나항셍테크',
 'TIGER 차이나전기차SOLACTIVE',
 'KODEX 탄소효율그린뉴딜',
 '프라나랩',
 '하이제6호스팩',
 '삼성스팩4호',
 'LX홀딩스1우',
 'TIGER 글로벌BBIG액티브',
 'KODEX 미국스마트모빌리티S&P',
 '하이트진로2우B',
 '유한양행우',
 '하이트진로홀딩스우',
 '흥국화재우',
 '흥국화재2우B',
 '삼성화재우',
 'CJ우',
 '부국증권우',
 '동양2우B',
 'SK네트웍스우',
 '한양증권우',
 '생고뱅코리아홀딩스1우',
 '코오롱우',
 '알보젠코리아',
 '넥센타이어1우B',
 '진흥기업2우B',
 '유안타증권우',
 '대한항공우',
 '대덕GDS',
 '서울식품우',
 '현대비앤지스틸우',
 '신한',
 '동부건설우',
 '삼성SDI우',
 '남선알미우',
 '태영건설우',
 '한화솔루션우',
 '삼성중공우',
 'S-Oil우',
 '계양전기우',
 '동원시스템즈우',
 '대교우B',
 '아이이',
 '현대정보기술',
 '위너지스',
 '삼성물산우B',
 '글로앤웰',
 '미래에셋증권',
 '지아이티',
 '썬코어',
 '피앤텔',
 '비엔씨컴퍼니',
 '엠로',
 'LG생명과학',
 '한컴지엠디',
 'GS우',
 '루트로닉3우C',
 '선진뷰티사이언스',
 '신양오라컴',
 'KODEX 은행',
 'TIGER 반도체',
 '이엘케이',
 'TIGER 방송통신',
 '신텍',
 'KODEX 증권',
 'KOSEF 고배당',
 'KINDEX 200',
 '세명테크',
 'KODEX 인버스',
 'TIGER 차이나항셍25',
 'ARIRANG 코스피50',
 'TIGER 레버리지',
 '레오모터스',
 'TIGER 삼성그룹펀더멘털',
 'TIGER 200 IT',
 'TIGER 200 경기소비재',
 'TIGER 모멘텀',
 '코리아오토글라스',
 'ARIRANG 고배당주',
 '수양켐텍',
 'KINDEX 중국본토CSI300',
 '경인자기관리부동산투자회사',
 'TIGER 로우볼',
 '무한비트',
 '이카이스',
 '한진칼우',
 '에이디엠코리아',
 'ARIRANG 글로벌MSCI(합성 H)',
 '우성아이비',
 'ARIRANG 선진국MSCI(합성 H)',
 'ARIRANG 신흥국MSCI(합성 H)',
 'KODEX 미국S&P IT(합성)',
 'KODEX 미국S&P금융(합성)',
 'KODEX China H 레버리지(H)',
 'TIGER 차이나CSI300레버리지(합성)',
 'KINDEX 일본TOPIX인버스(합성 H)',
 '팍스넷경제티브이',
 'KODEX 삼성그룹밸류',
 'TIGER 가격조정',
 'SOL 중국본토 중소형 CSI500(합성 H)',
 'KODEX 코스피',
 '지엔티파마',
 '고위드',
 'ARIRANG 스마트베타 LowVOL',
 'ARIRANG 스마트베타Quality채권혼합',
 '필로시스',
 '발레앤모델6우',
 'TIGER 200IT레버리지',
 'KODEX 퀄리티Plus',
 'KODEX 밸류Plus',
 'ARIRANG 스마트베타4종결합',
 'TIGER 차이나HSCEI',
 'KODEX 턴어라운드투자',
 '메디오젠',
 '씨티씨생명과학',
 'KODEX 선진국MSCI World',
 'KBSTAR 200선물인버스',
 'KODEX 200선물인버스2X',
 'KBSTAR 모멘텀로우볼',
 '성보',
 '신한제3호스팩',
 '센트롤',
 '미라셀',
 'KOSEF 배당바이백Plus',
 '차백신연구소',
 'KINDEX 필리핀MSCI(합성)',
 'KINDEX 러시아MSCI(합성)',
 'KODEX 미디어&엔터테인먼트',
 'KODEX IT',
 'KODEX 필수소비재',
 'KODEX 헬스케어',
 '비바이오',
 'TIGER S&P글로벌인프라(합성)',
 'KODEX WTI원유선물인버스(H)',
 'KINDEX 스마트모멘텀',
 'KBSTAR 단기국공채액티브',
 'KODEX MSCI모멘텀',
 '스코넥엔터테인먼트',
 'KBSTAR 글로벌4차산업IT(합성 H)',
 '신한제4호스팩',
 'TIGER 코스피',
 'TIGER 코스피대형주',
 'ARIRANG ESG우수기업',
 '에이피알',
 'KODEX 200TR',
 '한화에이스스팩4호',
 'KODEX 고배당',
 'ARIRANG 주도업종',
 'KODEX 미국러셀2000(H)',
 '에잇퍼센트',
 'KODEX 중국본토CSI300',
 '쿼럼바이오',
 'KBSTAR 200금융',
 'KBSTAR 200IT',
 'KBSTAR 200철강소재',
 '제이시스메디칼',
 'TIGER MSCI KOREA ESG리더스',
 'KOSEF 코스닥150선물인버스',
 'TIGER 중소형가치',
 'KODEX KRX300',
 '쿠콘',
 'ARIRANG 200모멘텀',
 '옥천당',
 '제이어스2우',
 'KBSTAR KQ모멘텀밸류',
 '에이디엠',
 'KODEX 미국나스닥100선물(H)',
 'TIGER 미국채10년선물',
 '트렌비',
 'HANARO 200선물인버스',
 'HANARO 코스닥150선물레버리지',
 '정우이앤이',
 'TIGER KRX300선물인버스',
 'KODEX 미국채10년선물',
 '핸드픽트컬렉션즈1우',
 'TIGER 200커뮤니케이션서비스',
 'KBSTAR 대형고배당10TR',
 'KINDEX 싱가포르리츠',
 '두물머리',
 '에스엠티바이오',
 '스탠다드그래핀',
 '해머엔터테인먼트',
 'KODEX 멀티에셋하이인컴(H)',
 'KINDEX 스마트퀄리티',
 '오로스테크놀로지',
 '카카오뱅크',
 '루닛',
 'KODEX TRF5050',
 '메디헬프라인',
 '프레스티지바이오로직스',
 '두산퓨얼셀1우',
 '뷰노',
 '도남에프앤에프1우',
 '케미코첨단소재1우',
 '라이프시맨틱스',
 '머드린',
 '씨앤씨인터내셔널',
 'KODEX TSE일본리츠(H)',
 '체인파트너스4우',
 '알앤디아시아',
 '싸이버원',
 '하스퍼1우',
 '제노코',
 'KBSTAR 200TR',
 '진시스템',
 'KODEX 200IT TR',
 '스타콜라보',
 'TIGER AI코리아그로스액티브',
 '신한제7호스팩',
 '바이오파마',
 'TIGER 글로벌클라우드컴퓨팅INDXX',
 'KODEX 차이나항셍테크',
 'IBKS제15호스팩',
 'KOSEF 미국방어배당성장나스닥',
 'KBSTAR 글로벌데이터센터리츠나스닥(합성)',
 'HANARO 탄소효율그린뉴딜',
 '엘비루셈',
 '이브이알스튜디오',
 'KBSTAR 미국S&P500',
 '유로셀',
 'HANARO Fn친환경에너지',
 'KODEX K-신재생에너지액티브',
 '네비게이터 ESG액티브',
 '테이크원컴퍼니',
 'TIMEFOLIO BBIG액티브',
 'TIMEFOLIO Kstock액티브',
 '삼양홀딩스우',
 '두산우',
 '한화우',
 '한화3우B',
 'DB하이텍1우',
 'CJ4우(전환)',
 'JW중외제약우',
 'JW중외제약2우B',
 'SK증권우',
 '동양3우B',
 '대상우',
 '생고뱅코리아홀딩스',
 '진흥기업우B',
 '아모레G우',
 '아모레G3우(전환)',
 '대신증권우',
 '남양유업우',
 '현대오일뱅크',
 '태양금속우',
 '덕성우',
 '현대차우',
 '넥센우',
 'NH투자증권우',
 '대원전선우',
 '코리아써우',
 '두산건설',
 '금호석유우',
 '카카오M',
 '대호특수강우',
 '에스마크',
 '후이즈글로벌네트워크',
 '에임하이글로벌',
 'LG생활건강우',
 'LG화학우',
 '트레이스',
 '진켐',
 '플렉스컴',
 'LG전자우',
 '현대삼호중공업',
 'KOSEF 200',
 '넥스지',
 '노루페인트우',
 'SIMPAC Metal',
 '넥스젠바이오텍',
 '엔에스브이',
 '바이오플러스',
 '씨그널엔터테인먼트그룹',
 'KODEX 기계장비',
 '웅진에너지',
 '신성에프에이',
 'KBSTAR 5대그룹주',
 '엔쓰리엔',
 'KINDEX 삼성그룹섹터가중',
 'KODEX 철강',
 '코오롱인더우',
 '썬텍',
 'TIGER 원유선물Enhanced(H)',
 'CJ E&M',
 '화진',
 '에스디바이오센서',
 'TIGER LG그룹+펀더멘털',
 'TIGER 현대차그룹+펀더멘털',
 'TIGER 200 중공업',
 'KODEX 보험',
 'TIGER 헬스케어',
 'KBSTAR 200',
 'TIGER 중국소비테마',
 '아피메즈',
 'TIGER 소프트웨어',
 'TIGER 베타플러스',
 '쓰리에이로직스',
 '리치앤타임',
 '광주은행',
 '파워 고배당저변동성',
 '리드',
 'KOSEF 인도Nifty50(합성)',
 'TIGER 미국나스닥바이오',
 '에이프로젠',
 '하나머스트3호스팩',
 'TIGER 코스피고배당',
 'KODEX 배당성장',
 'TIGER 차이나CSI300인버스(합성)',
 '엔에이치스팩7호',
 'KBSTAR 미국S&P원유생산기업(합성 H)',
 '유안타제2호스팩',
 'KODEX 200가치저변동',
 'TIGER 미국S&P500레버리지(합성 H)',
 'TIGER 유로스탁스레버리지(합성 H)',
 'TIGER 이머징마켓MSCI레버리지(합성 H)',
 'KINDEX 골드선물 레버리지(합성 H)',
 '메가일렉트로닉스',
 'TIGER 여행레저',
 '지엠아이그룹',
 'KODEX KTOP30',
 '라온테크',
 'KODEX 코스닥150 레버리지',
 '엔비티',
 '에프엑스기어',
 'ARIRANG 우량회사채50 1년',
 '하이코어',
 '한국4호스팩',
 'TIGER 일본니케이225',
 'KODEX 모멘텀Plus',
 'KINDEX 베트남VN30(합성)',
 '에이엔비글로벌',
 'KODEX 가치투자',
 '솔루엠',
 'TIGER 일본TOPIX헬스케어(합성)',
 'TIGER S&P글로벌헬스케어(합성)',
 'KBSTAR 200선물레버리지',
 'ARIRANG 200선물레버리지',
 'ARIRANG 200선물인버스2X',
 'KBSTAR 헬스케어',
 '정우신약',
 'KINDEX 인도네시아MSCI(합성)',
 'KODEX 심천ChiNext(합성)',
 '글람',
 '폴루스',
 '대신밸런스제4호스팩',
 '크라운제과우',
 'TIGER 지속배당',
 'KBSTAR 고배당',
 '체크페이먼트',
 'TIGER 코스닥150로우볼',
 'KBSTAR 미국장기국채선물(H)',
 'KBSTAR 미국장기국채선물인버스(H)',
 'TIGER 200선물레버리지',
 '아크로스',
 'KODEX S&P글로벌인프라(합성)',
 'KBSTAR 코스닥150선물인버스',
 'TIGER 글로벌자원생산기업(합성 H)',
 '제주맥주',
 'IBKS제7호스팩',
 'KODEX 미국S&P고배당커버드콜(합성 H)',
 '빅텍스',
 '현대에스티앤피',
 '다자요',
 '파워리퍼블릭',
 'TIGER 코스피중형주',
 '레인보우로보틱스',
 'KBSTAR 코스닥150선물레버리지',
 'KINDEX 미국IT인터넷S&P(합성 H)',
 '이케이중공업',
 'KBSTAR 중소형고배당',
 'KBSTAR 200에너지화학',
 'SK케미칼우',
 '뉴지스탁',
 '짐브러스',
 'KBSTAR 200생활소비재',
 '자이언트스텝',
 'TIGER MSCI KOREA ESG유니버설',
 'KINDEX 멕시코MSCI(합성)',
 'KBSTAR 차이나H선물인버스(H)',
 'TIGER 중소형성장',
 'TIGER KRX300',
 'ARIRANG KRX300',
 'HANARO 200',
 '한얼리치',
 'KODEX FnKorea50',
 'KODEX 한국대만IT프리미어',
 'KBSTAR 게임테마',
 'KODEX 게임산업',
 'ARIRANG 코스피중형주',
 '에어필립',
 'HANARO 200선물레버리지',
 'KODEX 2차전지산업',
 'KODEX KRX300선물인버스',
 '조앤강1우',
 'TIGER 지주회사',
 'ARIRANG KRX300산업재',
 'KINDEX 미국WideMoat가치주',
 '에코마인',
 'KBSTAR 중국MSCI China(H)',
 'TIGER 200TR',
 'TIGER MSCI Korea TR',
 '지오엘리먼트',
 'KODEX 미국FANG플러스(H)',
 'KBSTAR 200커뮤니케이션서비스',
 'KODEX Top5PlusTR',
 '엠에스웨이',
 '선우',
 '씨아이씨티',
 'KODEX Fn성장',
 '제트바이오텍',
 'ARIRANG 코스피TR',
 '마린이노베이션2우',
 'KODEX TRF7030',
 'TIGER 미국달러단기채권액티브',
 '너겟1우',
 'KINDEX 200TR',
 'ARIRANG 미국장기우량회사채',
 '아이브스',
 '두산퓨얼셀2우B',
 '현우테크',
 '에이바이오텍',
 '유일에너테크',
 '퓨쳐메디신',
 '바이오스탠다드',
 '두드림넷',
 '큐라티스',
 '이삭엔지니어링',
 'KBSTAR 미국고정배당우선증권ICE TR',
 'HANARO 글로벌럭셔리S&P(합성)',
 '파워보이스',
 '에이치피오',
 '하나금융17호스팩',
 'KODEX 혁신기술테마액티브',
 'TIGER KRX2차전지K-뉴딜',
 'TIGER KRX인터넷K-뉴딜',
 'KBSTAR Fn5G테크',
 'KBSTAR 미국나스닥100',
 '한국9호스팩',
 '플러스앤파트너스',
 'TIGER 차이나바이오테크SOLACTIVE',
 'KINDEX 차이나항셍테크',
 '맥스트',
 '화승알앤에이',
 'KODEX 미국S&P500TR',
 'KODEX 미국나스닥100TR',
 '삼성머스트스팩5호',
 'TIGER 미국테크TOP10 INDXX',
 'TIGER 미국필라델피아반도체나스닥',
 '네비게이터 친환경자동차밸류체인액티브',
 'TIGER 퓨처모빌리티액티브',
 '제이비바이오텍',
 'KODEX 미국반도체MV',
 'KOSEF 릭소글로벌디지털경제MSCI',
 'TIGER 글로벌자율주행&전기차SOLACTIVE',
 'TIGER 글로벌리튬&2차전지SOLACTIVE(합성)',
 'KODEX Fn시스템반도체',
 '두산2우B',
 'DL우',
 '유유제약1우',
 '현대건설우',
 '신영증권우',
 '대한제당우',
 '금호건설우',
 '쌍용양회우',
 '케이비증권',
 '유화증권우',
 'LG우',
 '대덕GDS우',
 '보루네오가구',
 '성신양회3우B',
 '롯데지주우',
 '현대차3우B',
 '크라운해태홀딩스우',
 '삼성전자우',
 '성지건설',
 'SK디스커버리우',
 '미래에셋증권우',
 '일양약품우',
 '코리아써키트2우B',
 '대덕1우',
 '신원우',
 '현대페인트',
 '일성건설2우B',
 '금강공업우',
 '데코앤이',
 '하림홀딩스',
 'SK우',
 '우전',
 '케어캠프닷컴',
 'SKC 솔믹스',
 '엘지씨엔에스',
 '케이엔씨글로벌',
 'KODEX 200',
 '한국금융지주우',
 '한국유로핀즈분석서비스',
 '대상홀딩스우',
 '아모레퍼시픽우',
 'TIGER 은행',
 'SK이노베이션우',
 'CJ제일제당 우',
 'KOSEF KRX100',
 'TIGER 200',
 'KODEX 삼성그룹',
 'TIGER 라틴35',
 '인터파크',
 'KODEX 에너지화학',
 '한진해운',
 '오코스모스',
 '파인넥스',
 '씨엔전자',
 'TIGER 200 철강소재',
 'KBSTAR 수출주',
 '플로트론',
 'KINDEX 인버스',
 '알피니언메디칼시스템',
 'KINDEX 레버리지',
 'KOSEF 코스피100',
 'KODEX MSCI Korea',
 '핑거',
 '노바셀테크놀로지',
 'KODEX 미국S&P바이오(합성)',
 '씨이랩',
 '바디프랜드',
 'TIGER 차이나CSI300',
 '엔에스스튜디오',
 'TIGER 일본TOPIX(합성 H)',
 'KBSTAR 일본TOPIX레버리지(H)',
 '코본',
 'ARIRANG 차이나H 레버리지(합성 H)',
 '코썬바이오',
 'SOL 선진국MSCI World(합성 H)',
 '얍컴퍼니',
 'TIGER 원유선물인버스(H)',
 'KODEX 미국S&P에너지(합성)',
 'KINDEX 중국본토CSI300레버리지(합성)',
 '케이비제8호스팩',
 'TIGER 미국S&P500선물인버스(H)',
 '쿠첸',
 '인스타',
 'KODEX 200 중소형',
 'TIGER 200 생활소비재',
 'TIGER 우량가치',
 'ARIRANG 코스피',
 'TIGER 미디어컨텐츠',
 'TIGER KTOP30',
 'KODEX 코스닥 150',
 'KBSTAR V&S셀렉트밸류',
 '레온',
 '모션블루',
 '프라바이오',
 'TIGER 미국다우존스30',
 '나노씨엠에스',
 'KBSTAR 차이나HSCEI(H)',
 'KINDEX 코스닥(합성)',
 'KBSTAR 200선물인버스2X',
 'KOSEF 200선물인버스',
 'KOSEF 200선물레버리지',
 'TIGER 대만TAIEX선물(H)',
 '올스웰',
 'TIGER 코스닥150IT',
 'TIGER 코스닥150바이오테크',
 '알앤에이테크',
 'ARIRANG 단기우량채권',
 '한화에이스스팩3호',
 'KBSTAR 미국장기국채선물레버리지(합성 H)',
 'KBSTAR 미국장기국채선물인버스2X(합성 H)',
 'ARIRANG 미국S&P500(H)',
 '네콘',
 '살린',
 'KBSTAR 코스닥150',
 'KODEX 3대농산물선물(H)',
 '팸텍',
 'KINDEX 스마트밸류',
 '아이리시스',
 'KODEX 종합채권(AA-이상)액티브',
 'KODEX MSCI밸류',
 'TIGER 글로벌4차산업혁신기술(합성 H)',
 '씨드아이글로벌',
 'KODEX 글로벌4차산업로보틱스(합성)',
 'KODEX MSCI Korea TR',
 '스터디플래닛1우',
 'KODEX 골드선물인버스(H)',
 '보령바이오파마',
 'KBSTAR 지주회사',
 'KODEX 200미국채혼합',
 'KBSTAR 200중공업',
 '비바리퍼블리카',
 '아이디티월드',
 'ARIRANG 미국나스닥기술주',
 'KBSTAR ESG사회책임투자',
 'KOSEF 코스닥150선물레버리지',
 'TIGER 대형성장',
 'TIGER TOP10',
 '바이오스펙트럼',
 '더코더',
 'KBSTAR 중소형모멘텀로우볼',
 'KBSTAR 중소형모멘텀밸류',
 'KBSTAR KQ모멘텀로우볼',
 'ARIRANG 코스닥150',
 '유민에쓰티',
 'KBSTAR 코스피',
 '이노뎁',
 'TIGER 2차전지테마',
 'KBSTAR KRX300선물인버스',
 'TIGER 의료기기',
 'HANARO 농업융복합산업',
 '바이오다인',
 'KINDEX 스마트하이베타',
 'KODEX 배당가치',
 'KBSTAR 내수주플러스',
 'TIGER 부동산인프라고배당',
 'KODEX TRF3070',
 'ARIRANG 미국단기우량회사채',
 '심플에프앤비',
 '엔시스',
 'ARIRANG KS모멘텀가중TR',
 'KBSTAR 팔라듐선물(H)',
 'KBSTAR 팔라듐선물인버스(H)',
 '솔루스첨단소재1우',
 'KODEX 코스피대형주',
 '대한바이오팜',
 'TIGER KIS부동산인프라채권TR',
 '베이칩스',
 '모비릭스',
 'KODEX 다우존스미국리츠(H)',
 '팍스젠바이오',
 '티와이홀딩스우',
 'TIGER KRX BBIG K-뉴딜',
 'TIGER KRX바이오K-뉴딜',
 '큐라클',
 '타키온비앤티',
 '유안타제8호스팩',
 'HANARO Fn5G산업',
 'KBSTAR Fn수소경제테마',
 'HANARO Fn K-뉴딜디지털플러스',
 'KBSTAR Fn K-뉴딜디지털플러스',
 'KBSTAR 차이나항셍테크',
 '하나머스트7호스팩',
 '유진스팩6호',
 'KODEX K-이노베이션액티브',
 'DL이앤씨우',
 'ARIRANG 탄소효율그린뉴딜',
 'TIGER 탄소효율그린뉴딜',
 'TIGER Fn신재생에너지',
 'KBSTAR 유로스탁스50(H)',
 '엔에프씨생명과학',
 'KINDEX Fn5G플러스',
 '엔에이치스팩19호',
 'HANARO Fn전기&수소차',
 'F&F',
 '에코프로에이치엔',
 'KODEX K-미래차액티브',
 'KBSTAR Fn컨택트대표',
 'KBSTAR 비메모리반도체액티브',
 'KOSEF 릭소글로벌퓨처모빌리티MSCI']

In [135]:
iem_na_fill_na['종목한글명_x']

2                     유유제약2우B
3                      노루홀딩스우
14                       BYC우
16                        동양우
19                    대한제당3우B
                ...
2723                 에코프로에이치엔
2724           KODEX K-미래차액티브
2725           KBSTAR Fn컨택트대표
2726        KBSTAR 비메모리반도체액티브
2727    KOSEF 릭소글로벌퓨처모빌리티MSCI
Name: 종목한글명_x, Length: 851, dtype: object

In [139]:
iem_fill = pd.concat([df1, df2, iem_na_fill], ignore_index=True)

In [140]:
iem_fill

         종목코드        종목한글명  종목업종  시가총액 규모유형  시장구분
0     A000080        하이트진로    14          2     1
1     A000670           영풍    11          2     1
2     A001450         현대해상     2          2     1
3     A001800       오리온홀딩스     2          2     1
4     A002790         아모레G    12          1     1
...       ...          ...   ...        ...   ...
2223  A351340   IBKS제13호스팩     2          3     4
2224  A353060   에이치엠씨제5호스팩     2         99     4
2225  A353070   에이치엠씨제4호스팩     2          3     4
2226  A353190           휴럼     2          3     4
2227  A353490  미래에셋대우스팩 5호     2          3     4

[2228 rows x 5 columns]

In [150]:
iem_mid = pd.merge( iem_fill , iem, how='outer', on='종목코드')
iem_mid

,종목코드,종목한글명_x,종목업종_x,시가총액 규모유형_x,시장구분_x,종목한글명_y,종목업종_y,시가총액 규모유형_y,시장구분_y
0,A000080,하이트진로,14.0,2.0,1.0,하이트진로,14,2,1
1,A000670,영풍,11.0,2.0,1.0,영풍,11,2,1
2,A001450,현대해상,2.0,2.0,1.0,현대해상,2,2,1
3,A001800,오리온홀딩스,2.0,2.0,1.0,오리온홀딩스,2,2,1
4,A002790,아모레G,12.0,1.0,1.0,아모레G,12,1,1
...,...,...,...,...,...,...,...,...,...
3074,A383310,NaN,NaN,NaN,NaN,에코프로에이치엔,14,99,99
3075,A385520,NaN,NaN,NaN,NaN,KODEX K-미래차액티브,14,99,99
3076,A388280,NaN,NaN,NaN,NaN,KBSTAR Fn컨택트대표,14,99,99
3077,A388420,NaN,NaN,NaN,NaN,KBSTAR 비메모리반도체액티브,14,99,99
3078,A394350,NaN,NaN,NaN,NaN,KOSEF 릭소글로벌퓨처모빌리티MSCI,14,99,99

In [165]:
iem_mid[iem_mid['시장구분_x'].isnull()].reset_index()

,종목코드,종목한글명_x,종목업종_x,시가총액 규모유형_x,시장구분_x,종목한글명_y,종목업종_y,시가총액 규모유형_y,시장구분_y
2228,A000227,NaN,NaN,NaN,NaN,유유제약2우B,8,99,99
2229,A000325,NaN,NaN,NaN,NaN,노루홀딩스우,2,99,99
2230,A001465,NaN,NaN,NaN,NaN,BYC우,14,99,99
2231,A001525,NaN,NaN,NaN,NaN,동양우,11,99,99
2232,A001799,NaN,NaN,NaN,NaN,대한제당3우B,14,99,99
...,...,...,...,...,...,...,...,...,...
3074,A383310,NaN,NaN,NaN,NaN,에코프로에이치엔,14,99,99
3075,A385520,NaN,NaN,NaN,NaN,KODEX K-미래차액티브,14,99,99
3076,A388280,NaN,NaN,NaN,NaN,KBSTAR Fn컨택트대표,14,99,99
3077,A388420,NaN,NaN,NaN,NaN,KBSTAR 비메모리반도체액티브,14,99,99
3078,A394350,NaN,NaN,NaN,NaN,KOSEF 릭소글로벌퓨처모빌리티MSCI,14,99,99

In [166]:
iem_mid2 = iem_mid[iem_mid['시장구분_x'].isnull()].reset_index().drop(['index','종목한글명_x','종목업종_x','시가총액 규모유형_x','시장구분_x'], axis=1, inplace=False)
iem_mid2

        종목코드                종목한글명_y  종목업종_y  시가총액 규모유형_y  시장구분_y
0    A000227                유유제약2우B       8           99      99
1    A000325                 노루홀딩스우       2           99      99
2    A001465                   BYC우      14           99      99
3    A001525                    동양우      11           99      99
4    A001799                대한제당3우B      14           99      99
..       ...                    ...     ...          ...     ...
846  A383310               에코프로에이치엔      14           99      99
847  A385520         KODEX K-미래차액티브      14           99      99
848  A388280         KBSTAR Fn컨택트대표      14           99      99
849  A388420      KBSTAR 비메모리반도체액티브      14           99      99
850  A394350  KOSEF 릭소글로벌퓨처모빌리티MSCI      14           99      99

[851 rows x 5 columns]

In [167]:
iem_mid2.columns=['종목코드','종목한글명','종목업종','시가총액 규모유형','시장구분']

In [168]:
iem_result= pd.concat([iem_fill,iem_mid2],ignore_index=True)
iem_result

         종목코드                  종목한글명  종목업종  시가총액 규모유형  시장구분
0     A000080                  하이트진로    14          2     1
1     A000670                     영풍    11          2     1
2     A001450                   현대해상     2          2     1
3     A001800                 오리온홀딩스     2          2     1
4     A002790                   아모레G    12          1     1
...       ...                    ...   ...        ...   ...
3074  A383310               에코프로에이치엔    14         99    99
3075  A385520         KODEX K-미래차액티브    14         99    99
3076  A388280         KBSTAR Fn컨택트대표    14         99    99
3077  A388420      KBSTAR 비메모리반도체액티브    14         99    99
3078  A394350  KOSEF 릭소글로벌퓨처모빌리티MSCI    14         99    99

[3079 rows x 5 columns]

In [170]:
iem_result['시장구분'].nunique()

5

In [172]:
iem_result.to_csv("종목정보_시장정보처리.csv", encoding="cp949", index=False)